@import "../shadcn/shadcn.css";
@import "tailwind-animations";

@layer base {
  * {
    button {
      cursor: pointer;
    }
  }
}

@layer components {
}

@theme inline {
  /* 최소 지원 너비 */
  --spacing-breakpoint-w: 1440px;

  --color-ods__base-50: #f8fafc;
  --color-ods__base-100: #f1f5f9;
  --color-ods__base-200: #e2e8f0;
  --color-ods__base-300: #cbd5e1;
  --color-ods__base-400: #94a3b8;
  --color-ods__base-500: #64748b;
  --color-ods__base-600: #475569;
  --color-ods__base-700: #334155;
  --color-ods__base-800: #1e293b;
  --color-ods__base-900: #0f172a;

  --color-ods__white: #ffffff;
  --color-ods__black: #000000;

  --color-ods__baselayout-bgcolor: #fffcec;
}

/* Typography */
@utility ods__typo__display-large {
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.25px;
}
@utility ods__typo__display-medium {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}
@utility ods__typo__display-small {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}
@utility ods__typo__headline-large {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
@utility ods__typo__headline-medium {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
@utility ods__typo__headline-small {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@utility ods__typo__title-large {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
@utility ods__typo__title-medium {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.024px;
}
@utility ods__typo__title-small {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.014px;
}
@utility ods__typo__label-large {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.014px;
}
@utility ods__typo__label-medium {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06px;
}
@utility ods__typo__label-small {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.055px;
}
@utility ods__typo__body-large {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
}
@utility ods__typo__body-medium {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.035px;
}
@utility ods__typo__body-small {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.048px;
}
@utility ods__typo__caption {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04px;
}

/* Animation */
@utility ods__animate__popup-open {
  @apply animate-bounce-fade-in animate-duration-200;
}
@utility ods__animate__default {
  @apply transition-all duration-200 ease-in-out;
}

/* Interaction */
@utility ods__decorate__hover {
  @apply hover:bg-ods__base-200 ods__animate__default;
}
